<div class="col-2 p-1">

    <div class="border-bottom border-4 rounded-4 bg-primary border-primary">

        <div class="card bg-light-primary rounded-4">

            <div class="card-body small p-2">
                <div class="d-flex justify-content-between align-items-center small">

                    {# {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }} #}
                    {# Бренд #}
                    <div class="w-100">
                        {{ item.users_profile_username }}
                    </div>

                    <div class="text-muted">
                        <span class="badge text-bg-secondary">{{ item.category_name }}</span> {# {{ item.part_date|date('d.m.Y H:i') }} #}
                    </div>
                </div>

                {# <div class="d-flex justify-content-between align-items-end">
                    <span class="h5 mb-0"> #}{# {{ money(item.order_price, item.order_currency) }} #}{# </span>
                    <span class="small text-muted">1 шт</span>
                </div> #}
            </div>

            {# Обложка #}
            {% set image_path = '/assets/img/blank.svg' %}

            {% if item.product_image_ext is defined and item.product_image_ext is not null %}
                {% set img_host =  item.product_image_cdn == true  ? CDN_HOST : '' %}
                {% set img_dir = item.product_image %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.product_image_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}


            <div class="d-flex flex-column small gap-1 p-2 bg-cover lazy col-2 w-100 position-relative"
                 style=" height: 280px;"
                 data-bg="{{ image_path }}"
            >
                <div
                        class="icon rounded-circle bg-contain p-1 shadow position-absolute"
                        style="width: 25px; height: 25px;"
                >
                    {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
                </div>

            </div>


            <div class="card-body d-flex flex-column p-2">

                <div class="text-truncate bg-contain"
                     role="tooltip"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     title="{{ item.product_name }}"
                >

                    <a href="{{ (is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN')) ? path('products-product:admin.newedit.edit', { id: item.product_event }) }}"
                       class="fw-bolder mb-1 text-dark text-decoration-none"
                    >
                        {{ item.product_name|capitalize }}
                    </a>

                    <div class="text-muted fw-bolder">

                        {% if item.product_variation_value %}
                            {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render') }}
                            {{ item.product_variation_postfix }}
                        {% endif %}

                        {% if item.product_offer_value %}
                            {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}
                            {{ item.product_offer_postfix }}
                        {% endif %}

                    </div>
                </div>

                <div class="d-flex justify-content-between align-items-center small">


                    <div>
                        <div class="d-flex align-items-center">
                            <span>Арт: &nbsp;</span>
                            <form method="post" class="p-0">
                                <input type="hidden" name="search_form[query]" value="{{ item.product_article }}">
                                <button type="submit" class="btn btn-link text-decoration-none btn-sm p-0 border-0">
                                    <span class="small">{{ item.product_article }}</span>
                                </button>

                            </form>
                        </div>

                        <div>
                            <span>ШК: &nbsp;</span>
                            <span>{{ item.barcode }}</span>
                        </div>

                    </div>


                    <span
                            role="tooltip"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title='Штрихкод продукции'
                    >
                        <a href=" {{ path('wildberries-products:admin.barcode.print', {
                            id: item.barcode
                        }) }} "

                           class="btn-link btn p-0 pb-1 modal-link disabled"
                           data-bs-toggle="modal"
                           data-bs-target="#modal"
                        >

                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                 class="bi bi-upc-scan" viewBox="0 0 16 16">
                              <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                            </svg>

                        </a>
                    </span>
                </div>


            </div>
        </div>
    </div>

</div>
