{% trans_default_domain('yandex-market-products.admin.card') %}
<main class="main d-print-none ">

    <section class="container px-4 mb-5">

        <div class="mt-3 d-flex justify-content-between">
            {{ include(_self|replace({ "content.html.twig": "_breadcrumb.html.twig" })) }}
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3 gap-3">

            <div class="w-100">
                <h1 class="h4 text-uppercase fw-bolder mb-0">
                    {{ 'page.index'|trans }}
                </h1>
            </div>

            <div class="btn-group" role="group" aria-label="Basic example">

                {% if is_granted('ROLE_YA_MARKET_PRODUCTS_CARD_GET') %}

                    <button data-href="{{ path('yandex-market-products:admin.card.get') }}"
                       class="btn btn-primary text-nowrap modal-link disabled d-flex gap-1 align-items-center"
                       data-bs-toggle="modal"
                       data-bs-target="#modal"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M9.636 2.5a.5.5 0 0 0-.5-.5H2.5A1.5 1.5 0 0 0 1 3.5v10A1.5 1.5 0 0 0 2.5 15h10a1.5 1.5 0 0 0 1.5-1.5V6.864a.5.5 0 0 0-1 0V13.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M5 10.5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 0-1H6.707l8.147-8.146a.5.5 0 0 0-.708-.708L6 9.293V5.5a.5.5 0 0 0-1 0z"/>
                        </svg>

                        {{ 'Получить новые'|trans({}, 'core.btn') }}
                    </button>

                {% endif %}


                {% if is_granted('ROLE_YA_MARKET_PRODUCTS_CARD_POST') %}

                    <button data-href="{{ path('yandex-market-products:admin.card.post') }}"
                       class="btn btn-primary text-nowrap modal-link disabled d-flex gap-1 align-items-center"
                       data-bs-toggle="modal"
                       data-bs-target="#modal"
                    >
                        {{ 'Выгрузить новые'|trans({}, 'core.btn') }}

                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0z"/>
                        </svg>
                    </button>
                {% endif %}

            </div>

        </div>

        <div class="border border-light rounded-4 p-3 p-3">


            <div class="d-flex justify-content-between align-items-start gap-3">

                {# Форма поиска по разделу #}
                {% include Template('/_includes/'~baks_settings.device~'/search.html.twig') %}


                <div class="w-100">
                    {{ form_start(filter) }}
                    <div class="d-flex justify-content-end align-items-center my-1 gap-3">

                        <div class="w-25">
                            {{ form_widget(filter.category, { placeholder: 'Все категории ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                        </div>

                        {% if filter.vars.data.category %}

                            {% if filter.offer is defined %}

                                <div class="w-25">
                                    {{ form_widget(filter.offer, { placeholder: filter.offer.vars.label~' ...' , attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                                </div>
                            {% endif %}


                            {% if filter.variation is defined %}
                                <div class="w-25">
                                    {{ form_widget(filter.variation, { placeholder: filter.variation.vars.label~' ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                                </div>
                            {% endif %}

                            {% if filter.modification is defined %}
                                <div class="w-25">
                                    {{ form_widget(filter.modification, { placeholder:  filter.modification.vars.label~' ...', attr: { 'data-select' : 'select2', class: 'mb-0' } }) }}
                                </div>
                            {% endif %}

                        {% endif %}


                    </div>

                    {{ form_end(filter) }}
                </div>


            </div>

            <div class="row cards-box-body mt-3">

                <div class="d-flex gap-3">

                    {% if filter.category.vars.data %}
                        <div><small class="text-muted">Категория:</small>&nbsp;
                            <strong>{{ filter.category.vars.data.options }}</strong>
                        </div>
                    {% endif %}

                    {% if filter.offer is defined and filter.offer.vars.data %}
                        <div><small class="text-muted small">{{ filter.offer.vars.label }}:</small>&nbsp;
                            <strong> {{ filter.offer.vars.data|trans({}, 'reference.color') }}</strong>
                        </div>
                    {% endif %}

                    {% if filter.variation is defined and filter.variation.vars.data %}
                        <div><small class="text-muted small">{{ filter.variation.vars.label }}:</small>&nbsp;
                            <strong>{{ filter.variation.vars.data }}</strong>
                        </div>
                    {% endif %}

                    {% if filter.modification is defined and filter.modification.vars.data %}
                        <div><small class="text-muted small">{{ filter.modification.vars.label }}:</small>&nbsp;
                            <strong>{{ filter.modification.vars.data }}</strong>
                        </div>
                    {% endif %}

                </div>

                {% for item in query.data %}


                    {{ include(_self|replace({ "content.html.twig": "card.html.twig" })) }}
                {% endfor %}
            </div>

        </div>

        {% include Template('_includes/'~baks_settings.device~'/pagination.html.twig') with { 'pagination' : query } %}


    </section>

</main>